* {
    box-sizing: border-box;
}

h1 {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.add-and-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
}

.my-bookmarks {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.bookmark-item {
    width: 500px;
    margin: 10px;
    border: 1px black solid;
    list-style-type: none;
}

.bookmark-name {
    margin: 10px;
    display: inline-block;
}

.rating {
}

.bookmark-controls {
    clear: right;
    display: block;
    margin: 10px;
}

.hidden {
    display: none;
}